flow.json
[
    {
        "id": "40bc367db093e819",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f91fe5ae0e592ebe",
        "type": "inject",
        "z": "40bc367db093e819",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "083eb08c82fdeb2f"
            ]
        ]
    },
    {
        "id": "5c4e3ac06aad8a30",
        "type": "debug",
        "z": "40bc367db093e819",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "083eb08c82fdeb2f",
        "type": "function",
        "z": "40bc367db093e819",
        "name": "Sort",
        "func": "// https://daily-dev-tips.com/posts/public-solving-secret-santa-in-javascript/\n\nlet names = [\"Oliver\",\"Seb\",\"George\"];\n\nconst secretSantaNames = [...names].sort(() => 0.5 - Math.random())\n\nlet secretSanta = secretSantaNames.filter( (secretSantaName) => secretSantaName !== names)[0];\n\nsecretSantaNames.splice(\n    secretSantaNames.findIndex((i) => i === secretSanta),\n    1\n);\n\nlet acc = [];\n\nacc.push({\n    names,\n    secretSanta,\n});\n\nif (secretSanta === undefined) {\n    // Edge case where last person was assigned to their own name\n    // Simply swap with the first one.\n    secretSanta = acc[0].secretSanta;\n    acc[0].secretSanta = names[0];\n}\n\nnode.warn(acc)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 1,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 100,
        "wires": [
            [
                "5c4e3ac06aad8a30"
            ]
        ]
    }
]